@import url("https://cdn.investigativedata.org/style/base.min.css");

:root {
  scroll-behavior: smooth;
}

/* DEFAULT PAGE LAYOUT */
html {
  font-size: var(--font-size);
  background-color: var(--neutral);
}
body {
  margin: 0 auto;
  padding: 0;
  line-height: 1.3;
  color: var(--black);
  font-family: var(--font-family-body);
  font-size: 1.3125rem;
}
header {
  padding: 1.37rem var(--S);
  font-size: 0.937rem;
  background-color: inherit;
  margin: 0 auto;
}
header .container {
  max-width: var(--max-width);
  margin: 0 auto;
  display: flex;
}
header .container > * {
  flex: 1;
}
header img {
  height: 1.5rem;
  width: auto;
}
header nav {
  text-align: right;
}
main div.screen {
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
}
main .container {
  margin: 0 auto;
  max-width: var(--max-width);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--S) var(--S) var(--L) var(--S);
}
main section.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}
main h1 {
  margin: 0;
  padding: 0;
  font-family: var(--font-family-brand);
  font-size: 1.875rem;
  font-style: normal;
  font-weight: 400;
}
main p {
  margin: 0;
  padding: 0;
}
footer {
  width: 100%;
  display: flex;
  gap: var(--S);
  justify-content: center;
  padding-top: 3.75rem;
  padding-bottom: var(--M);
  color: inherit;
  font-size: 0.9375rem;
}
footer a.active {
  font-weight: bold;
}
code {
  font-family: var(--font-family-mono);
  font-size: 0.5rem;
  line-height: 1;
}
nav svg path {
  fill: var(--black);
}
.--bg-inverted nav svg path {
  fill: var(--secondary);
}

/* SMART WIDE */
@media only screen and (min-width: 30em) {
  html {
    font-size: 15px;
  }
}

/* TABLET/DESKTOP */
@media only screen and (min-width: 48em) {
  body {
    font-size: 2.1875rem;
  }
  header {
    padding: var(--S) var(--XL);
    font-size: 1.3125rem;
  }
  header img {
    height: 3.125rem;
  }
  header nav svg {
    width: auto;
    height: 2.439rem;
  }
  main .container {
    padding: var(--L) var(--L) var(--XL) var(--L);
  }
  main h1 {
    font-size: 3.75rem;
  }
  .--flex-columns {
    gap: var(--M);
    flex-direction: row !important;
  }
  .contact-pane {
    flex-direction: row;
  }
  .contact-pane section {
    flex: 2;
  }
  .contact-pane section.--flex-1 {
    padding-left: var(--M);
    border-left: 0.25rem solid var(--black);
    flex: 1;
  }
  code {
    font-size: 1.5rem;
  }
}

/* ANIMATION */
.animation-wrapper {
  padding-bottom: 3rem;
}

.animated span {
  opacity: 0;
  overflow: hidden;
  position: absolute;
  animation: flip 14s infinite;
}

.animated span:nth-child(2) {
  animation-delay: 2s;
}

.animated span:nth-child(3) {
  animation-delay: 4s;
}

.animated span:nth-child(4) {
  animation-delay: 6s;
}

.animated span:nth-child(5) {
  animation-delay: 8s;
}

.animated span:nth-child(6) {
  animation-delay: 10s;
}

.animated span:nth-child(7) {
  animation-delay: 12s;
}

@keyframes flip {
  0%,
  14.285% {
    opacity: 1;
  }
  14.286%,
  100% {
    opacity: 0;
  }
}
